.main {
	padding: 60px;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.top p {
	font-size: 20px;
	font-weight: bold;
}

.description {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 15px;
}

.description span {
	font-size: 20px;
	margin-right: 40px;
	text-decoration: underline;
}
