ul.ant-dropdown-menu {
  background-color: var(--beige) !important;
  color: var(--black);
  font-family: "Jersey 25", sans-serif;
}

.ant-dropdown-menu-title-content {
  font-size: 20px !important;
}
.profile-icon {
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

ul.ant-dropdown-menu {
  background-color: var(--background) !important;
  color: var(--text);
}

.ant-dropdown-menu-title-content {
  font-size: 22px !important;
}

.signin-navbar {
  cursor: pointer;
  margin-left: auto;
}
