.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.search-bar-container input {
    width: 70%;
    padding: 0 20px;
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    outline-color: var(--accent);
    height: 100%;
}

.search-bar-button {
    border-radius: 0 4px 4px 0;
    height: 100%;
    border: none;
    background-color: var(--primary);
    cursor: pointer;
    width: 100px;
    transition: background-color .3s ease-in;
}

.search-bar-button:hover {
    background-color: var(--accent);
}

.search-bar-button i img {
    width: 30px;
    height: 30px;
}