header{
    margin: 0;
    display: flex;
    font-size: 25px;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid gray;
    height: 80px;
}

header .ant-dropdown-trigger{
    margin-left: auto;
}