nav{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    list-style: none;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s ease-in;
}

nav ul li a:hover{
    color: var(--accent);
}