.ant-card-meta-title {
    color: var(--primary) !important;
}

.ant-card-meta-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text) !important;
}
